.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  background-image: linear-gradient(90deg, #fffbf2, #fff2d5);
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4vw;
  font-family: boldFont;
  color: #f9b401;
  margin-top: 2rem;
  margin-bottom: 0rem;
  letter-spacing: 2px;
}

.circle {
  width: 30%;
  height: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.linkButton {
  width: 5vw;
  height: 100%;
  margin-bottom: 1vw;
  /* border: 1px solid rgb(197, 197, 197); */
}

.linkButton:hover,
.linkText:hover {
  scale: 1.15;
}

.linkText {
  color: #927150;
  margin: 0rem;
  color: #f9b401;
  font-size: 2vw;
  font-family: boldFont;
}

.linkTextAndButton {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */

  position: absolute;
  bottom: 11vw;
  left: 2vw;
}

@font-face {
  font-family: boldFont;
  src: url("./ImpactLTStd.otf");
}

@media (max-width: 1440px) {
  .linkTextAndButton {
    bottom: 16vw;
  }
}

@media (max-width: 1024px) {
  .linkTextAndButton {
    bottom: 19vw;
  }
}

@media (max-width: 768px) {
  .linkTextAndButton {
    bottom: 18vw;
  }
}

@media (max-width: 425px) {
  .linkTextAndButton {
    bottom: 17vw;
  }
}

@media (max-width: 320px) {
  .linkTextAndButton {
    bottom: 15vw;
  }
}
